.jumbotron.jumbotron-fluid.text-center {
  background-color: #8B0000;
  /*background-color: #800000;*/
}

.tron-text {
  /*color: 	#404040 !important;*/
  color: #0d0d0d !important;
  font-size: 425% !important;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-weight: bold !important;
}

body{
  background-color:	#404040;
}
