<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>GymBuddy - Workout Planning Made Easy - Create New Exercise</title>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div class="container">
        <div class="jumbotron">
            <h1>GymBuddy</h1>
        </div>
        <div ng-controller="createExerciseController">
            <h1> New Exercise </h1>
            <form>
                Name: <input type="text" name="name" ng-model="name">
                <br> Description: <textarea name="description" ng-model="description"> </textarea>
                <br> Enter ImageUrl: <input type="text" name="" value="" ng-model="imageUrl">
                <br>
                <button type="button" name="button" ng-click="addExerciseFunc()"> Submit </button>
                <br>
                <button type="button" name="button" ng-click="home()"> Home </button>
                <br>
                <!-- <button type="button" name="button" ng-click="go('/getStarted')">Get Started</button> -->
            </form>
        </div>

</body>

</html>
