<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=360, initial-scale=1, maximum-scale=1">
    <title>GymBuddy - Workout Planning Made Easy - Create New Workout</title>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
  <div ng-controller="createWorkoutController">
    <div class="container">
        <div class="jumbotron">
            <h1>GymBuddy</h1>
        </div>

            <h1> New Workout</h1>
            <form>
                Workout Name: <input type="text" name="name" ng-model="name">
                <br> Description: <textarea name="description" ng-model="description"> </textarea>
                <br>  Image URL: <input type="text" name="" value="" ng-model="imageUrl">
                <br>
                <button type="button" name="button" ng-click="addWorkout()"> Submit </button>
                <br>
                <button type="button" name="button" ng-click="home()"> Home </button>
            </form>
        </div>
    </div>
</body>
</html>
