<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=360, initial-scale=1, maximum-scale=1">
    <title>GymBuddy - Workout Planning Made Easy</title>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div class="container">
        <div class="jumbotron">
            <h1>GymBuddy</h1>
        </div>

        <div ng-controller="getStartedController">
            <input type="button" name="createWorkout" value="Create Workout" ng-model="createWorkout" ng-click="createWorkout()">
            <!-- <br> -->
            <input type="button" name="createExercise" value="Create Exercise" ng-model="createExercise" ng-click="createExercise()">
            <!-- <br> -->
            <input type="button" name="viewWorkout" value="View Workout" ng-model="viewWorkout" ng-click="viewWorkout()">
            <!-- <br> -->
            <input type="button" name="viewExercise" value="View Exercise" ng-model="viewExercise" ng-click="viewExercise()">
            <!-- <br> -->
            <input type="button" name="searchForExercise" value="Search For Exercise" ng-model="searchForExercise" ng-click="searchForExercise()">

            <div  ng-repeat='workout in workouts' >
                <img ng-src="{{workout.imageUrl}}">
                <br> {{workout.name}}
                <br> {{workout.description}}
                <br> <button type="button" name="button" ng-click="setActive($index)" > Select </button>
                <!-- <button type="button" name="button" index="{{$index}}" ng-model="index" ng-click=selectWorkout()> Select </button> -->
            </div>

            <div ng-repeat='exercise in exercises'>
                <img ng-src="{{exercise.imageUrl}}">
                <br> {{exercise.name}}
                <br> {{exercise.description}}
                <br> <button type="button" name="button" ng-click="selectExercise()"> Select </button>

            </div>

</body>

</html>
