<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>GymBuddy - Workout Planning Made Easy</title>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp" ng-controller="exerciseController">
    <div class="container">
        <div class="jumbotron">
            <h1>GymBuddy</h1>
        </div>
     <input type="text" name="" value="" placeholder="Search Exercise" ng-model="searchExercise">
    <button type="button" name="button" ng-click="searchExerciseFunc()">Search</button>
  </div>
  <div ng-repeat= "exercise in exercises|filter:searchExercise">
  <div> Exercise Name: {{exercise.name}} </div>
  <div> Exercise Description: {{exercise.description}} </div>
</div>
</body>

</html>
