<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GymBuddy - Workout Planning Made Easy</title>
    <link rel="icon" type="image/gif" href="./images/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
<div ng-controller="searchExerciseController">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1>GymBuddy</h1>
    </div>
  </div>
        <label for="Search Exercise"></label>
        <input type="text" name="searchExercise" class="form-control" placeholder="Search Exercise" ng-model="searchExercise"/>
        <input class="btn btn-primary navbar-btn" type='button' name='search' value='Search'  ng-click='searchExerciseFunc()'/>
        <div ng-repeat="exercise in exercises|filter:searchExercise">
            <div> Exercise Name: {{exercise.name}} </div>
            <div> Exercise Description: {{exercise.description}} </div>
            <input class="btn btn-primary navbar-btn" type="button" name="button" ng-click="addtoWorkout()" value="Select"/>
        </div>
        <input class="btn btn-danger navbar-btn" type="button" name="button" value="Home" ng-click="home()"/>
    </div>
</body>
</html>
