<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GymBuddy - Workout Planning Made Easy</title>
    <link rel="icon" type="image/gif" href="./images/favicon.png" />
    <link href="./style/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="viewWorkoutController" ng-init="selectedWorkout()">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="tron-text">GymBuddy</h1>
            </div>
        </div>
        <div class="container-fluid">
            <h1>View Workout</h1>
            <div class="modalRepeat container-fluid" ng-repeat='workout in workouts'>
                <div>
                    <img ng-src="{{workout.imageUrl}}" height= 300px width= 300x/>
                </div>
                <div>
                   Workout Name: {{workout.name}}
                </div>
                <div>
                  Description: {{workout.description}}
                </div>
                <div ng-repeat='exercise in workout.exercise track by $index'>
                    <div>
                    <img ng-src="{{exercise.imageUrl}}"  height= 300px width= 300px/>
                  </div>
                  <div>
                  Exercise Name: {{exercise.name}}
                </div>
                <div>
                  Exercise Description: {{exercise.description}}
                </div>
                </div>
                <input data-toggle="modal" data-target="#exerciseModal" class="btn btn-default" type="button" name="addToWorkout"
                value="Select Exercise" ng-model="viewExercise" ng-click="viewExercise()">
                <input class="btn btn-default" type="button" name="createExercise" value="Add  New Exercise" ng-click="createExercise()">
<!-- <div ng-controller="getStartedController"> -->
              <!-- exercise  modal begin -->
              <div id="exerciseModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Exercise</h4>
                          </div>
                          <div class="modal-body">
                              <div class="modalRepeat container-fluid" ng-repeat='exercise in exercises'>
                                  <div>
                                      <img ng-src="{{exercise.imageUrl}}"  height= 300px width= 300px/>
                                  </div>
                                  <div>
                                      {{exercise.name}}
                                  </div>
                                  <div>
                                      {{exercise.description}}
                                  </div>
                                  <input class="btn btn-default navbar-btn" type="button" name="button" ng-click="addToWorkout(exercise)" value="Add To Workout"/>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div>
<!-- </div> -->
            <div class="footer">
            <input class="btn btn-danger" type="button" name="button" ng-click="home()" value="home"/>
          </div>
          </div>
        </div>
 </body>
</html>

<!-- clicking select  under workout would bring you to this page -->
<!-- on this page would be be the specific workout -->
<!-- example workout X -->
<!-- Description -->
<!-- Image -->
<!-- list of exercises in workout -->
<!-- or -->
<!-- button to add exercise to workout -->
<!-- (get selected workout from button clicked on previous page) -->
<!-- (how to on page load, load existing workouts without needing to click view) -->
<!-- ng intit? -->
<!-- Tabs Start -->
<!-- <ul class="nav nav-tabs list-inline">
<li class="active"><a data-toggle="tab" href="#sunday">Sunday</a></li>
<li><a data-toggle="tab" href="#monday">Monday</a></li>
<li><a data-toggle="tab" href="#tuesday">Tuesday</a></li>
<li><a data-toggle="tab" href="#wednesday">Wednesday</a></li>
<li><a data-toggle="tab" href="#thursday">Thursday</a></li>
<li><a data-toggle="tab" href="#friday">Friday</a></li>
<li><a data-toggle="tab" href="#saturday">Saturday</a></li>
</ul>
<div class="tab-content">
<div id="sunday" class="tab-pane fade in active">
<h3>Sunday</h3>
<p>Some content in Sunday.</p>
<p> Workout Image </p>
<p> This page should display the specific workout that was selected in a tab that would enable user to select day view and exercise for day using "selected workout id:" </p>
</div>
<div id="monday" class="tab-pane fade">
<h3>Monday</h3>
<p> List of Exercises for this day </p>
</div>
<div id="tuesday" class="tab-pane fade">
<h3>Tuesday</h3>
<p> List of Exercises for this day </p>
</div>
<div id="wednesday" class="tab-pane fade">
<h3>Wednesday</h3>
<p> List of Exercises for this day </p>
</div>
<div id="thursday" class="tab-pane fade">
<h3>Thursday</h3>
<p> List of Exercises for this day </p>
</div>
<div id="friday" class="tab-pane fade">
<h3>Friday</h3>
<p> List of Exercises for this day </p>
</div>
<div id="saturday" class="tab-pane fade">
<h3>Saturday</h3>
<p> List of Exercises for this day </p>
</div>
</div> -->
    <!-- Tabs End -->
