<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=360, initial-scale=1, maximum-scale=1">
    <title>GymBuddy - Workout Planning Made Easy</title>
    <!-- <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css"> -->
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>


</head>

<body ng-app="myApp">
    <div ng-controller="viewWorkoutController">
    <div class="container">
        <div class="jumbotron">
            <h1>GymBuddy</h1>
        </div>
            <!-- <script src="/node_modules/angular/angular.js"></script>
            <script src="/node_modules/angular-aria/angular-aria.js"></script>
            <script src="/node_modules/angular-animate/angular-animate.js"></script>
            <script src="/node_modules/angular-material/angular-material.js"></script> -->
            <h1> View Workout XYZ </h1>
            <p> Workout Image </p>
            <p> This page should display the specific workout that was selected in a tab that would enable user to select day view and exercise for day </p>
            <!-- clicking select  under workout would bring you to this page -->
            <!-- on this page would be be the specific workout -->
            <!-- example workout X -->
            <!-- Description -->
            <!-- Image -->
            <!-- list of exercises in workout -->
            <!-- or -->
            <!-- button to add exercise to workout -->
            <!-- (get selected workout from button clicked on previous page) -->
            <!-- (how to on page load, load existing workouts without needing to click view) -->
            <button type="button" name="button" ng-click="home()"> Home </button>
        </div>
    </div>
</body>
</html>
