<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GymBuddy - Workout Planning Made Easy</title>
    <link rel="icon" type="image/gif" href="./images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="./vendors/bootstrap.min.css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/client.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="viewExerciseController" ng-init="selectedExercise()">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="tron-text">GymBuddy</h1>
            </div>
        </div>
        <div class="container fluid">
            <h1>View Exercise XYZ </h1>
            <div class="modalRepeat container-fluid" ng-repeat='exercise in exercises'>
                <div>
                    <img ng-src="{{exercise.imageUrl}}"  height= 200px width= 200px/>
                </div>
                <div>
                    {{exercise.name}}
                </div>
                <div>
                    {{exercise.description}}
                </div>
                <!-- <input class="btn btn-default navbar-btn" type="button" name="button" ng-click="addToWorkout()" value="Add To Workout"/>
                <input class="btn btn-default navbar-btn" type="button" name="button" ng-click="addToExercise()" value="Add To Exercise"/> -->
            </div>

            <input class="btn btn-danger" type="button" name="button" ng-click="home()" value="home"/>
        </div>
    </div>
</body>

</html>
